
body{
  background-color: white;
}

/* Hero Image */
    .hero{
      background-size: cover;
      background-image: url('../images/sit.jpeg');
      height: 34em;
      margin-bottom: 3em;
    }
    .hero > div{
      margin:0 auto;
      text-align: center;
      color:#3e3e3e;
      position: absolute;
      top: 32%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

/* Headers */
    h1{
      font-family: Dancing Script;
      font-weight: 900;
      font-size:3em;
    }
    h3{
      font-family: Dancing Script;
      font-size: 31px;
    }
    h4{
      font-weight: 700;
      font-size: 18px;
      text-align: left;
      letter-spacing: 1px;
    }
    p{
      font-family: Martel;
      font-size:14px;
    }

/* Sections */
    section{
      padding:3em 5em 5em 3em;
      font-family: Martel;
      color:#3e3e3e;
      margin: 0 auto;
      text-align: center;
    }
    section.simple{
      width: 35%;
    }
    section.faq{
      width: 40%;
      text-align: left;
    }
    section.faq > div{
      margin-bottom: 2.2em;
    }
    section h2{
      font-size: 26px;
      font-weight: bold;
      font-family: Quicksand;
    }
    section p{
      font-size: 16px;
    }

/* Buttons */
    .btn{
      width: auto;
      padding:10px 30px 10px;
      border-radius: 3px;
      border:0px;
      font-family: Quicksand;
      box-shadow: 0;
    }
    .btn-blue{
      background-color: #37A8E3;
    }
    .btn-red{
      background-color: #E33737;
    }

/* Columns */
    .row{
      overflow: auto;
      width: 80%;
      margin: 0 auto;
      margin-top:3em;
    }
    .col-3{
      width: 30%;
      float:left;
      padding:1em;
    }
    .col-3 p, 
    .col-3 ul, 
    .col-3 li{
      text-align: left;
    }

    .col-3 ul > ul li{
      font-size: 14px;
    }
    .col-3 ul > ul > ul li{
      font-size: 13px;
    }

.circle{
  width: 53px;
  border-radius: 20em;
  border:3px solid #3e3e3e;
  height:53px;
  margin: 0 auto;
}
.circle h2{
  margin-top:7px;
}



/* Sign Up Form */
    form{
      padding:1em;
      font-family: Martel;
    }
    form div{
      overflow: auto;
    }
    form input[type="text"]{
      padding:1em;
      width: 70%;
      float:left;
    }
    form input[type="submit"]{
      padding:1em;
      border:1px solid #37A8E3;
      margin-left:3px;
      float:right;
      width: 24%;
      background-color: #37A8E3;
    }
    form a{
      font-family: Martel;
      font-size: 10px;
      color:#3e3e3e;
    }


